!!! 5
html
  head
    title Edit your Decks
    script(src='/vendor/jquery-1.10.1.min.js')
    script(src='/js/edit.js')
    script(src='/vendor/bootstrap.js')
    link(rel='stylesheet', href='/vendor/bootstrap.css', media='screen')
    link(rel='stylesheet', href='/css/edit.css')

    // put JADE slides variable into javascript array
    script.
      console.log("!{slides}");
      var slides_arr = new Array();
    each slide, i in slides
      script.
        temp_slide = {
          _id: "#{slide._id}",
          resource: "#{slide.resource}",
          keywords: []
        };
        num_keywords = "#{slide.keywords}".split(',').length;
        for (var x = 0; x < num_keywords; x++) {
          //console.log("#{slide.keywords}".split(',')[x]);
          keyword = "#{slide.keywords}".split(',')[x];
          temp_slide.keywords.push(keyword);
        }
        slides_arr.push(temp_slide);

    // save current slide is javascipt variable
    if slides[0]
      script.
        var current_slide_id = "#{slides[0]._id}"
    else
      script.
        var current_slide_id = "noslides"


  body

    // ------------
    //    Header
    // -----------
    div.container-narrow
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          button.btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#") Show & Tell
          div.nav-collapse.collapse
          p.navbar-text.pull-right
            a.btn.btn-medium(href="/home").myBtn Account Settings 
            a.btn.btn-primary.btn-medium(href="/present?deckid=#{deck_id}").myBtn Present


              // 'user': JSON.stringify(req.session.user), // remove this!
              // 'deck_name': cur_deck.name,
              // 'deck_id': cur_deck._id,
              // 'decks': decks,
              // 'slides': slides
      


    div.container-fluid
      div.row-fluid
        div.span3
          div.well.sidebar-nav#sidebar
            span#sidebar_top
              div#deckname #{deck_name}
              input(type="text", placeholder="Search").search-query.span7#nav_menue

              // Add to Deck
              a(href="#upload", role="button", data-toggle="modal").btn#add-to-deck
                i.icon-folder-open
                |  Add to Deck

            div#slides_scrollarea
              each slide, i in slides
                div(id="slide#{slide._id}")#a_slide
                  img(src="#{slide.resource}", onclick="displaySlide('#{slide.resource}','#{slide.keywords}', '#{slide._id}')")


          div.well.sidebar-nav
            // Add to Deck
            a(href="/createEmptyDeck", role="button", data-toggle="modal").btn#add-to-deck.pull-right
              i.icon-folder-open
              |  Create New Deck 

            each deck, i in decks 
              div 
                a(href="/edit?deckid=#{deck._id}") #{deck.name}
        div.span9.well
          div#current_slide
            if slides[0]
              img(src="#{slides[0].resource}")#current_img
            else
              p No slides in deck yet...
          div
            textarea(type="text")#keywords_text_area
              if slides[0]
                !{slides[0].keywords}
              else
                "No slides in deck yet..."


                


        // Upload pop-up window
        div(tabindex="-1", role="dialog", aria-labelledby="uploadModal", aria-hidden="true")#upload.modal.hide.fade
          div.modal-header
            button(type="button", data-dismiss="modal", aria-hidden="true").close
              | x
            h3.myModalLabel Add to Deck
            hr
            form(action="/edit", method="post", enctype="multipart/form-data")
              div.tabbable.tabs-left
                ul.nav.nav-tabs
                  li.active
                    a(href="#tab1", data-toggle="tab") Upload
                  li
                    a(href="#tab2", data-toggle="tab") Take a snapshot
                  li
                    a(href="#tab3", data-toggle="tab") By URL
                  li
                    a(href="#tab4", data-toggle="tab") From my Decks
                div.tab-content
                  div.tab-pane.active#tab1
                    p
                      | Drop files here or
                      input(type="file", name="file", multiple).file
                    p.muted
                      | Filetypes: jpg, gif, png, bmp, ppt, pptx
                  div.tab-pane#tab2
                    p
                      | hello world2
                  div.tab-pane#tab3
                    p
                      | hello world3
                  div.tab-pane#tab4
                    p
                      | hello world4
              div.modal-footer
                button(data-dismiss="modal", aria-hidden="true").btn Close
                button(type="submit", name="submit").btn.btn-primary Add to Deck
          // Add to Deck ^
