!!! 5
html
	head
		title Show & Tell
		script(src='/vendor/jquery-1.10.1.min.js')
		script(src='/js/present.js')
		script(src='/vendor/bootstrap.js')
		link(rel='stylesheet', href='/vendor/bootstrap.css', media='screen')
		link(rel='stylesheet', href='/css/present.css')

		// put JADE slides variable into javascript array
		script
			var slides_arr = new Array();
		each slide, i in slides
			script
				temp_slide = {
					_id: "#{slide._id}",
					resource: "#{slide.resource}",
					keywords: []
				};
				console.log(JSON.stringify(temp_slide));
				num_keywords = "#{slide.keywords}".split(',').length;
				for (var x = 0; x < num_keywords; x++) {
					//console.log("#{slide.keywords}".split(',')[x]);
					keyword = "#{slide.keywords}".split(',')[x];
					temp_slide.keywords.push(keyword);
				}
				slides_arr.push(temp_slide);
		



	body
		div.pagination-centered
			input(type="image", src="/img/microphone.png", alt="mic", onclick="changeButton()", value="Start")#startStopButton.mic

			div.jumbotron#slide-area
				h1.start_text Ready? Click the microphone to start keyword detection. 
				h2.start_text_subtitle Or press the "right" key.
			
			textarea(value="", rows="1", cols="40", placeholder='What you say will appear here...').input-xxlarge#transcript

			a.btn.btn-primary.btn-medium(href="/edit?deckid=#{deck_id}")#edit_button Edit
